<div class="sidebar">
    <h3>Navigación</h3>
    <hr>
    <ul>
      <li><a href="/"><i class="fas fa-house-user"></i> Home</a></li>
      <li><a href="/add.html"> <i class="fas fa-plus"></i> Add user </i></a></li>
    </ul>
</div>