<!DOCTYPE html>
<html lang="en">
<%- include('./components/head') %>
<body>
    <%- include('./components/sidebar') %>
  <div class="content">
    <div class="container">
      <div class="body-header">
          <h2>New user</h2>
    </div>
  </div>
</body>
</html>