<!DOCTYPE html>
<html>
<%- include('./components/head') %>
<body>
  <%- include('./components/sidebar') %>
  <div class="content">
    <div class="container">
      <div class="body-header">
          <h2><%= title %></h2>
     <%- include('./components/users'); %>
    </div>
  </div>
  
</body>
</html>
